boto3==1.35.22
bs4==0.0.2
fastapi==0.115.0
googlesearch-python==1.2.5
litellm==1.46.6
lxml[html_clean]==5.3.0
newspaper3k==0.2.8
pandas==2.2.2
requests==2.32.3
scikit-learn==1.5.1
beautifulsoup4
google
pydantic
openai
numpy
aiohttp==3.9.3
cachetools==5.3.0